
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0a3c2f;
}
.container {
    border-radius: 7px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #2b6354;
    padding: 40px 60px;    
}
.container h2 {
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.reset {
    padding: 15px 20px;
    color: #0b201b;
    background: #fff;
    border: none;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
    text-transform: uppercase;
}
.reset:focus {
   color: #fff;
   background: #267c65; 
}
.game {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2em;
    background: #fff;
    transition: 0.25s;
    transform: rotateY(180deg);
}
.item.boxOpen {
    transform: rotateY(0deg);
} 
.item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #209d7b;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.boxOpen:after , 
.boxMatch:after {
    transform: rotateY(180deg);
} 

